<!DOCTYPE html>
<html>
<head>
	<title>Vue To Do</title>

	<link rel="stylesheet" type="text/css" href="style.css">
	<script https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.css></script>
</head>
<body>

	<h1>Vue To Do List</h1>

	<div id="main" v-cloak>

		<input class="toDoInput"
			type="text"
			v-model="toDoItem"
			v-on:keyup.enter="addTask()"
			placeholder="Enter in a to do item">

		<div class="listSection">
			
			<ul id="toDoList">
				<li
					is="toDoItem"
					v-bind:title="toDoItem.title"
					v-bind:id="toDoItem.id"
					v-bind:remove-task="removeTask"
					v-for="toDoItem in toDoList"
					class="toDoItem">

					<!-- <input type="checkbox" class="checkbox" v-model="completeTask()"> -->
					<!-- TO DO: Get icon font to work (deleted for now) -->
					
				</li>
			</ul>

			<!-- <pre>{{ $data }}</pre> -->

		</div>

	</div>

	<script src="https://unpkg.com/vue"></script>
	<script type="text/javascript" src="main.js"></script>

</body>
</html>