<!DOCTYPE html>
<html>
<head>
	<title>Vue To Do</title>

	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

	<div id="main" v-cloak>
		
		<h1>Vue To Do List</h1>

		<p>Enter in a to do item: <input id="toDoInput" type="text" v-model="toDo"></p>

		<ul id="toDoList">
			<!-- We bind it to an active class and compare it to a field that is true/false -->
			<li v-for="toDo in toDoList"><input type="checkbox" class="checkbox">{{ toDo }}</li>
		</ul>

	</div>

	<script src="https://unpkg.com/vue"></script>
	<script type="text/javascript" src="main.js"></script>

</body>
</html>